@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::selection {
  background-color: var(--indigo-color);
}


.spin:hover {
  display: inline-block;
  animation: spin 6s linear infinite;
}

.text-headline {
  color:
    #020826;
}


.text-content {
  color: #2a2a2a;
}

.mar0 {
  margin-left: 0 !important;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;

}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#a6ff99, #a6ff99)
}

.link-underline:hover {
  background-size: 100% 10px;
  background-position: 0 100%
}


/* Dark Mode */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #4e4e4e;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: white;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

